.container {
  position: fixed;
  overflow: scroll;
  right: 0;
  top: 2em;
  bottom: 6em;
  width: 80%;
}

.imgNameCon {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--sky-blue);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  width: fit-content;
}
.imgNameCon img {
  border-radius: 10%;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.items > :first-child {
  font-weight: bold;
}
.items > :last-child {
  color: var(--dark-blue);
}
.items:hover {
  background-color: #e0e0e0;
}
