.container {
  position: absolute;
  top: 2rem;
  bottom: 6rem;
  overflow: scroll;
}

.imgNameCon {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--sky-blue);
}
