:root {
  --font-mono: "Wallpoet", "Fasthand", ui-monospace, Menlo, Monaco,
    "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Edu NSW ACT Foundation", cursive,
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --black: #000000;
  --white: #ffffff;
  --blue-gray: #3e3e58;
  --red: #e13030;
  --yellow: #ffff00;
  --dark-blue: #070044;
  --sky-blue: #87ceeb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.appContainer {
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* gap: 0.5rem; */
  height: 100vh;
}
.navWrapper {
  background-color: var(--blue-gray);
  color: var(--white);
  grid-row: 1/4;
}
.mainWrapper {
  background-color: var(--white);
  grid-row: 1/4;
}
.footerWrapper {
  background-color: var(--dark-blue);
  color: var(--white);
  grid-column: 1/3;
  padding: 0.5rem;
  align-self: flex-end;
  text-align: center;
  min-height: 6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
