.container {
  position: absolute;
  overflow: scroll;
  top: 2rem;
  bottom: 6rem;
  right: 0;
  width: 80%;
  padding-right: 2rem;
}

.search {
  padding: 0.5rem;
  margin: 1rem auto;
  min-width: 20rem;
  font-size: large;
  font-weight: 700;
  border: none;
  outline: none;
}
.search:focus {
  border-bottom: 3px dotted var(--green);
}
.itemsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr auto;
  gap: 1rem;
  margin-bottom: 0.5rem;
  align-items: center;
  justify-content: space-around;
}
.itemsWrapper:first-child {
  font-weight: bold;
}
.itemsWrapper:hover {
  background-color: #e0e0e0;
}

.info {
  font-size: x-large;
  color: var(--green);
}
.info:hover {
  color: green;
}

/* for updateForm */
.editIcon {
  font-size: x-large;
  cursor: pointer;
  color: var(--orange);
}
.editIcon:hover {
  color: orangered;
}

.showUpdate {
  position: fixed;
  overflow: scroll;
  top: 0;
  bottom: 6rem;
  left: 0;
  right: 0;
  background-color: var(--white);
  padding: 1rem;
}

.fieldSet {
  max-width: 40rem;
  margin: 1rem 0;
}

.fieldSet legend {
  font-weight: bold;
}

.status {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 0.3rem;
}

.note {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1rem;
}
.note textarea {
  max-width: 25rem;
}
.note label {
  font-weight: bold;
}
