.container {
  position: absolute;
  overflow: scroll;
  top: 2rem;
  bottom: 6rem;
  text-align: center;
}

.search {
  padding: 0.5rem;
  margin: 1rem auto;
  min-width: 20rem;
  border: none;
  outline: none;
}
.search:focus {
  border-bottom: 3px dotted var(--green);
}
.itemsWrapper {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr fit-content(1px) fit-content(1px) 1fr;
  gap: 1rem;
  text-align: left;
  margin-bottom: 0.5rem;
  align-items: center;
}
.itemsWrapper:first-child {
  font-weight: bold;
}
.itemsWrapper:hover {
  background-color: #e9bbd2;
}

.info {
  font-size: x-large;
  color: var(--green);
}
.info:hover {
  color: green;
}
