.container {
  position: absolute;
  overflow: scroll;
  top: 2rem;
  bottom: 6rem;
  right: 0;
  /* left: 20em; */
  /* text-align: center; */
  width: 80%;
  padding-right: 2rem;
}

.search {
  padding: 0.5rem;
  margin: 1rem auto;
  min-width: 20rem;
  border: none;
  outline: none;
}
.search:focus {
  border-bottom: 3px dotted var(--green);
}
.itemsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr auto;
  gap: 1rem;
  margin-bottom: 0.5rem;
  align-items: center;
  justify-content: space-around;
}
.itemsWrapper:first-child {
  font-weight: bold;
}
.itemsWrapper:hover {
  background-color: #e0e0e0;
}

.info {
  font-size: x-large;
  color: var(--green);
}
.info:hover {
  color: green;
}
