.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(180, 180, 180, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease-in-out;
}

.mes {
  background-color: green;
  color: var(--white);
  font-weight: bold;
  font-size: xx-large;
  border-radius: 10px;
  display: flex;
}

.mes p {
  padding: 1rem 6rem;
}

.ok {
  text-align: right;
  background-color: transparent;
  border-color: transparent;
}

.ok button {
  background-color: transparent;
  border-color: transparent;
}
