.showUpdate {
  position: fixed;
  overflow: scroll;
  top: 0;
  bottom: 6rem;
  left: 0;
  right: 0;
  background-color: var(--white);
  padding: 1rem;
}

.editIcon {
  font-size: x-large;
  cursor: pointer;
  color: var(--orange);
}
.editIcon:hover {
  color: orangered;
}

.fieldSet {
  max-width: 40rem;
  margin: 1rem 0;
}

.fieldSet legend {
  font-weight: bold;
}

.status {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 0.3rem;
}

.note {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
}
.note label {
  font-weight: bold;
}
