.footerLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: var(--light-gray); */
  font-size: xx-large;
}
.footerLinkItem {
  font-size: medium;
}
